header {
     background-color: white;
     height: 70px;
     width: 100%;
     border-bottom: solid 1px #CCCCCC;

     background-image: url("/holbertonschool-AirBnB_clone/web_static/images/logo-icon.png");
     background-repeat: no-repeat;
}

@media (max-width: 800px)
{
     header {
          background-position: center;
     }
}