footer {
     background-color: white;
     height: 60px;
     width: 100%;
     
     display: flex;
     text-align: center;
     justify-content: center;

     position: absolute;
     border-top: solid 1px #CCCCCC;
     bottom: 0%;
     
}